<h1>Adit {{course.title}} </h1>

<form action="/Experiences/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Name experiences</label>
        <span class="helper-text" data-error="enter name"></span>
    </div>
    
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
        <label for="price">price experiences</label>
        <span class="helper-text" data-error="enter true"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">where you can see</label>
        <span class="helper-text" data-error="enter link"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">ok</button>
</form>